# Config file for automatic testing at travis-ci.org

language: python

python:
  - "2.7"
  - "3.6"

matrix:
  fast_finish: true

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -r requirements_test.txt

# command to run tests using coverage, e.g. python setup.py test
script: tox

after_success:
  - codecov -e TOX_ENV

deploy:
  provider: pypi
  on:
    tags: true
  skip_existing: true
  user: __token__
  password:
    secure: B4J9/FoxA6oEeQisUrenjB/bzWAHejVAd2EvODPubgOoMll/KN3XzyO5I1CIwKTbx6wwURz2zmz8U4h6v2oW8Xy4SaO3A7OHx57I2lQtv5q923XS7wBUX7R81xq3DqglS6lEdNcZlNPZqqz07qgn/S/8uvRxYcVM82VDECbzMggFCqsw0qEwiQtMtjdxtv3AhLzbQ/g6QCBQLA2YD5aSCFyFRJpQGbhJE8m3VeVhN+iLePE9+II32rxV/9IPohKgGYfUTbuN4mBLtAmsWQws3QOZTmU9V0VuXlvoXMjmczLRBx8SH5UiSa5u0ZppVZAxYEoGZwJOEf5ThLmybFac6bkgpDR687MIlIZkup0OmKrDYxaU3GJGyqZbcms5essa7WB15QPSBiEKL5WruZMnaOxAPTW8Qsp4uVibq5nC4b1h8TX8/mjnV/xVI+6kLITd8cSjiL3leHgadrInLMMRyX8RBYHNE+p/mjMwXLNFmpeODXla72Y8fJ7MYVrJ3Gxf8bOxU301GPS8LK5VxTowT2mBUJINYI2LZX0rHX48MJs95qfe15BuQ7y0m55tkSCoM0K+9WqROx526AydoTvbGG39z1WrIQIy+6JA4iqoyuiQTrI+wckAKxBf8BDP6f+8eP45bBnRfNswz7WmbSf1BBSYnOZogEW25tAJ6G/UjWo=
